@font-face {
  font-family: 'Cantarell';
  src: local('Cantarell'), local('Cantarell Regular'),
  url(../fonts/OTF/Cantarell-Regular.otf);
}

@font-face {
  font-family: 'Cantarell';
  font-weight: bold;
  src: local('Cantarell'), local('Cantarell Bold'), local('Cantarell-Bold'),
  url(../fonts/OTF/Cantarell-Bold.otf);
}

/* 
 * Source Sans Pro 
 * Complete @font-face kit 
 * 
 * Author: 
 *    Reza Qorbani (reza@qorbani.com)
 *    https://github.com/qorbani
 */

/* Source Sans Pro (Roman package) @font-face kit */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;

    src: local('SourceSansPro-ExtraLight'), local('Source Sans Pro'), url('../fonts/EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-ExtraLight.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;

    src: local('SourceSansPro-Light'), local('Source Sans Pro'), url('../fonts/EOT/SourceSansPro-Light.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-Light.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;

    src: local('SourceSansPro-Regular'), local('Source Sans Pro'), url('../fonts/EOT/SourceSansPro-Regular.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-Regular.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;

    src: local('SourceSansPro-Semibold'), local('Source Sans Pro Semibold'), url('../fonts/EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-Semibold.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;

    src: local('SourceSansPro-Bold'), local('Source Sans Pro Bold'), url('../fonts/EOT/SourceSansPro-Bold.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-Bold.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-stretch: normal;

    src: local('SourceSansPro-Black'), local('Source Sans Pro Black'), url('../fonts/EOT/SourceSansPro-Black.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-Black.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-Black.ttf') format('truetype');
}
/* Source Sans Pro (Italic package) @font-face kit */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 200;
    font-stretch: normal;

    src: local('SourceSansPro-ExtraLightIt'), local('Source Sans Pro'), url('../fonts/EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;

    src: local('SourceSansPro-LightIt'), local('Source Sans Pro'), url('../fonts/EOT/SourceSansPro-LightIt.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-LightIt.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-LightIt.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;

    src: local('SourceSansPro-It'), local('Source Sans Pro'), url('../fonts/EOT/SourceSansPro-It.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-It.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-It.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    font-stretch: normal;

    src: local('SourceSansPro-SemiboldIt'), local('Source Sans Pro'), url('../fonts/EOT/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-SemiboldIt.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;

    src: local('SourceSansPro-BoldIt'), local('Source Sans Pro'), url('../fonts/EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-BoldIt.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-BoldIt.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 900;
    font-stretch: normal;

    src: local('SourceSansPro-BlackIt'), local('Source Sans Pro'), url('../fonts/EOT/SourceSansPro-BlackIt.eot') format('embedded-opentype'), url('../fonts/WOFF/OTF/SourceSansPro-BlackIt.otf.woff') format('woff'), url('../fonts/OTF/SourceSansPro-BlackIt.otf') format('opentype'), url('../fonts/TTF/SourceSansPro-BlackIt.ttf') format('truetype');
}
