/* Home Banner */
/* ========================================================================== */

.home_banner {
}

.home .social_network_icons {
    font-size: 1.2em;
}
/* Responsive Media Queries for Homepage */
/* ========================================================================== */

 
@media (min-width:767px) and  (max-width: 979px){
    #home-crafted-content {
        text-align: center;
    }
}

@media(max-width: 767px){
    #home-crafted-content {
        text-align: center;
    }
}
