/* News Title */
/* ========================================================================== */

.news_title h1 {
    margin-top: 0;
    color: #333;
    font-weight: normal;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.04em;
}
.news_title .date {
    margin: 0;
    color: #3465a4;
}

/* News List */
/* ========================================================================== */

.news_list {
    list-style: none;
    padding-left: 0px;
}
.news_list li {
    margin: 10px 0;
}
.news_list li .date {
    color: #888a85;
    margin-top: 0.1em;
    display: block;
}
.news_list li a {
    font-weight: bold;
    font-size: 1.2em;
}
.span4.news:first-child {
    margin-left: 0;
}

.news_list .news strong {
    display: block;
    min-height: 50px;
}

.news_list .news {
    margin-bottom: 20px;
}
.news_list .news .date {
    color: #888a85;
}
.news_list .news a {
    color: #555753;
    display: block;
    text-decoration: none;
}
.news_list .news a strong {
    font-size: 18px;
    color: #000;
    line-height: 1.5;
}
.news_list .news a:hover strong {
    text-decoration: underline;
}

.news_list .action_button {
    float: right;
    margin-bottom: 0.8em;
}



/* Social Network List */
/* ========================================================================== */

.social_network_icons {
    overflow: hidden;
}
.social_network_icons ul {
    list-style: none;
    margin: 0 0 1px;
    padding: 0;
    overflow: hidden;
    display: table;
    width: 100%;
}
.social_network_icons ul li {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: top;
    width: 25%;
}
.social_network_icons ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 10px 0 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    font-size: 11px;
}
.social_network_icons ul li a img {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
}
.social_network_icons ul li a:hover, .social_network_icons ul li a:focus {
    background: #ececec;
}
.social_network_icons ul li a:active {
    background: #ececec;
    position: relative;
    top: 1px;
    -moz-box-shadow: inset 0 1px 3px #ccc;
    -webkit-box-shadow: inset 0 1px 3px #ccc;
    box-shadow: inset 0 1px 3px #ccc;
}
