@import url("fonts.css");

/* Main Elements */
/* ========================================================================== */

body.win {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #2e3436;
}
body.win {
    font-size: 16px;

}

body.win h1, body.win h2, body.win h3, body.win h4, body.win h5, body.win h6 {
    font-family: "Trebuchet MS";
}

dt {
    color: #2E3436;
}
dt a:hover {
    color: #fa7721;    
}
ol {
    list-style:decimal;
}
ul {
    list-style:square;
}
h1,h2,h3,h4,h5,h6,pre,table,address,fieldset {
    margin: 0.8em 0 0.4em;
}
p, dd, .action_box, ul, ol {
    margin: 0.4em 0 1em;
}
code {
    background: #ececec;
    background: rgba(0,0,0,0.1);
    padding: 1px;
}


/* Text classes */
/* ========================================================================== */

.highlight {
    background: yellow;
}

.main_feature {
    font-size: 16pt;
    line-height: 130%;
    margin-top: 20px;
}

.main_heading {
    font-size: 24pt;
    line-height: 130%;
    margin: 0.4em 0;
}

.footnotes {
    font-size: 11px;
    color: #888a85;
}
.footnotes a {
    color: #888a85;
}

.more {
    background: url(../images/more-arrow.png) right 6px no-repeat;
    cursor: pointer;
    white-space: nowrap;
    padding-right: 10px;
    text-decoration: none;
}
.more {
    text-decoration: underline;
}

